<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>Cập nhật tác giả
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-setting"><i class="icon-settings"></i></button>
                        <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
                        <button type="button" class="card-header-action btn btn-link btn-close"><i class="icon-close"></i></button>
                    </div>
                </div>
                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
                    <form action="" (submit)="saveAuthor($event)" [formGroup]="editForm">
                        <div class="form-group">
                            <label for="">Tên tác giả</label>
                            <input type="text" formControlName="name" class="form-control">
                        </div>
                        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">

                            <div *ngIf="f.name.errors?.required">
                                Tên tác giả không được để trống!
                            </div>
                            <div *ngIf="f.name.errors?.minlength">
                                Ít nhất 4 ký tự!
                            </div>
                        </div>
                        <div class="text-center">
                            <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>