<div *ngIf="book == undefined">
    <p class="text-danger">Loading...</p>
</div>
<div class="container" *ngIf="book != undefined">
    <!-- <p>{{book.title}}</p> -->
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <!-- <img [src]="book.image" class="img-thumbnail"> -->
                <div class="card-body">
                    <h5 class="card-title">{{book.title}}</h5>
                    <p>{{book.price}}</p>
                    <p class="card-text">{{book.category.name}}</p>
                    <p class="card-text">{{book.author.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>