<div class="container  spacer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="mini-spacer mt-5">
                <img [src]="imageDirectoPath+book.image" alt="wrapkit" width="300" class="img-fluid" />
            </div>
        </div>
        <div class="col-7">

            <h2 class="title fw-bold">
                {{book.title}}
            </h2>
            <p class="m-t-30 m-b-30" [innerHTML]="book.short_desc">
            </p>
            <p>Danh mục: {{book.category.name}}</p>
            <p>Tác giả: {{book.author.name}}</p>
            <p class="m-t-30 m-b-30 fs-1 fw-bold text-danger ">
                {{book.price | currency:'VND'}}
            </p>

        </div>
        <div class="col-12">
            <h2 class="text-uppercase">
                Mô tả sách
            </h2>
            <p [innerHTML]="book.detail">
        </div>

    </div>
    <!-- Row  -->
    <div class="">
        <h2 class="text-uppercase">
            Sản phẩm liên quan
        </h2>
        <div class="row">
            <div class="col-md-3 p-2 mb-4" *ngFor='let b of bookRelate'>
                <div class="card border-0 rounded-0" data-aos="flip-left" data-aos-duration="1200">

                    <img class="card-img-top p-3" [src]="imageDirectoPath+b.image" alt="wrappixel kit" height="200px">
                    <h4 class="font-medium mt-2 px-3">
                        <a href="javascript:;" routerLink="/sach/{{b.id}}" class="linking font-medium text-themecolor m-t-10 cursor-pointer">
                        {{b.title}}
                        </a>
                    </h4>
                    <p class="mt-2 px-3">
                        {{ b.price | currency:'VND' }}
                    </p>

                </div>

            </div>
        </div>
    </div>