<div class="topbar" id="top">
    <div class="header6">

        <div class="container po-relative">
            <nav class="navbar navbar-expand-lg h6-nav-bar">
                <a class="navbar-brand" routerLink="">
                    <img src="assets/img/brand/logo.svg" width="100" alt="wrapkit" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info" aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                </button>

                <div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
                    <ul class="navbar-nav ml-auto  align-items-center">
                        <li class="nav-item" [routerLinkActive]="['active']">
                            <a class="nav-link" routerLink="/">
                                Home
                            </a>
                        </li>
                        <li class="nav-item" *ngFor='let cate of cates'>
                            <a href="javascript:;" class="nav-link" routerLink="/danh-muc/{{cate.id}}">{{cate.name}}</a>
                        </li>
                    </ul>

                </div>

            </nav>
        </div>


    </div>
</div>