<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Danh sách
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên sách</th>
                                <th>Danh mục</th>
                                <th>Ảnh</th>
                                <th>
                                    <a href="javascript:;" class="btn btn-success" routerLink="/admin/tai-khoan/them-moi">Tạo mới</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users| slice: (page-1) * pageSize : page * pageSize; index as i">
                                <td>{{i+1}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td><img [src]="imageDirectoPath+user.avatar" alt="" width="100"></td>
                                <td>
                                    <a href="javascript:;" class="btn btn-info mr-1" routerLink="/admin/tai-khoan/edit/{{user.id}}">
                                    Sửa</a>
                                    <button class="btn btn-danger" (click)="delete(user.id)">Xoá</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="users.length"></ngb-pagination>
                    </nav>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>